<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <fast-design-system-provider>
        <fast-horizontal-scroll>
            <fast-button>Undo</fast-button>
            <fast-button>Redo</fast-button>
            <fast-button>Add</fast-button>
            <fast-button>Remove</fast-button>    
            <fast-button>Delete</fast-button>
            <fast-button>Color</fast-button>
            <fast-button>Help</fast-button>
            <fast-button>Share</fast-button>
            <fast-button>Update</fast-button>
            <fast-button>Alert</fast-button>
            <fast-button>Next</fast-button>
            <fast-button>Previous</fast-button>
        </fast-horizontal-scroll>
    </fast-design-system-provider>
</body>
</html>